<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <base href="{{ site.baseurl }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css({app,.tmp}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    {% if site.baseurl == '/' %}
      {% assign modernizr = 'modernizr' %}
    {% else %}
      {% assign modernizr = 'modernizr-custom' %}
    {% endif %}

    <!-- build:js(app) scripts/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="_bower_components/modernizr/{{ modernizr }}.js"></script>
    <!-- endbuild -->
  </head>

  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{ content }}

    {% include scripts.html %}
    {% include googleanalytics.html %}
  </body>
</html>
