@import 'normalize-version';
@import 'normalize/html5';
@import 'normalize/base';
@import 'normalize/links';
@import 'normalize/typography';

@import 'compass';
@import 'breakpoint';

@import 'fonts';

@import 'h5bp-base';
@import 'h5bp-helpers';

/**
 * VARIABLES
 */
$breakpoint-to-ems: true;
$small: max-width 30em;

/**
 * FUNCTIONS
 */
@function em($target, $context: 16) {
  @return ($target / $context) * 1em;
}

/**
 * STYLES
 */
html, body {
  height: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: 'itc_centurybookcondensed';
  font-size: 100%;
  margin: 5% 10% 0;
  position: relative;
}

a {
  color: white;
  display: block;
  text-decoration: none;
}

img {
  position: relative;
  left: -5px;
}

.logo {
  max-width: 100%;
}

.where, .time {
  font-size: em(38);

  @include breakpoint($small) {
    font-size: em(26);
  }
}

.where {
  @include breakpoint($small) {
    margin-top: 5%;
  }
}

.lower {
  @include pie-clearfix;
  @include box-sizing(border-box);
  position: absolute;
  bottom: 10%;
  margin-bottom: 5%;
  width: 100%;
  @include breakpoint($small) {
  }
}

.signup {
  overflow: hidden;

  @include breakpoint($small) {
  }
}

form {
  border-top: 3px solid white;
  margin-top: 5px;
  padding-top: 5px;
}

.email {
  background: transparent;
  border: none;
  font-family: 'itc_centurybookcondensed';
  font-size: em(24);
  color: white;
  outline: none;
  width: 99%;
}

.placeholder {
  color: #464646;
}
::-webkit-input-placeholder {
  color: #464646;
}
:-ms-input-placeholder {
  color: #464646;
}
::-moz-placeholder {
  color: #464646;
}
:-moz-placeholder {
  color: #464646;
}

input[type="submit"] {
  position: absolute;
  left: -100%;
  width: 1px;
  height: 1px;
}

.dates {
  float: right;
  list-style: none;
  margin: 0;
  padding-left: 1%;

  @include breakpoint($small) {
    float: none;
    padding-left: 0;
    margin-bottom: 10%;
  }

  li {
    font-size: em(34);

    @include breakpoint($small) {
      font-size: em(26);
    }
  }

  li:first-child {
    font-family: 'itc_centuryboldcondensed';
    font-size: em(46);

    @include breakpoint($small) {
      font-size: em(38);
    }
  }
}
